<a href="https://colab.research.google.com/github/JasvinderSingh131198/Python-for-Data-Science/blob/main/Decision_Tree.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#importing libraries 
 
import pandas as pd 
import numpy as np

In [2]:
data=pd.read_csv('data_cleaned.csv')

In [3]:
data.shape

(891, 25)

In [4]:
data.head()

   Survived   Age     Fare  ...  Embarked_C  Embarked_Q  Embarked_S
0         0  22.0   7.2500  ...           0           0           1
1         1  38.0  71.2833  ...           1           0           0
2         1  26.0   7.9250  ...           0           0           1
3         1  35.0  53.1000  ...           0           0           1
4         0  35.0   8.0500  ...           0           0           1

[5 rows x 25 columns]

In [5]:
#seperating independent and dependent variables
 
x = data.drop(['Survived'], axis=1)
y = data['Survived']

In [6]:
from sklearn.model_selection import train_test_split

In [7]:
train_x,test_x,train_y,test_y = train_test_split(x,y, random_state = 101, stratify=y)

In [8]:
train_y.value_counts()/len(train_y)

0    0.616766
1    0.383234
Name: Survived, dtype: float64

In [9]:
test_y.value_counts()/len(test_y)

0    0.61435
1    0.38565
Name: Survived, dtype: float64

In [10]:
#importing decision tree classifier 
 
from sklearn.tree import DecisionTreeClassifier

In [11]:
clf = DecisionTreeClassifier()

In [12]:
clf.fit(train_x,train_y)

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=None, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')

In [13]:
clf.score(train_x, train_y)

0.9880239520958084

In [14]:
clf.score(test_x, test_y)

0.7623318385650224

In [15]:
clf.predict(test_x)

array([1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1,
       1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0,
       0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1,
       0, 1, 0, 1, 0, 1, 1, 1, 1, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0,
       1, 0, 1, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0,
       0, 0, 1, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 1, 0, 0, 1, 1, 1, 0,
       0, 0, 1, 0, 1, 1, 0, 1, 1, 1, 0, 0, 0, 0, 1, 1, 1, 0, 0, 1, 0, 0,
       0, 1, 1, 0, 0, 0, 1, 1, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 1, 0, 0, 1, 1, 1, 1, 0, 0, 1, 1, 0,
       1, 1, 0])